.mod_newsticker div.ticker { display: block; overflow: hidden; position: relative; }
.mod_newsticker ul.ticker { display: block; list-style: none; margin: 0; padding: 0; }
.mod_newsticker ul.ticker li { display: block; }
.mod_newsticker .horizontal ul.ticker li { float: left; }
.mod_newsticker ul.ticker li h2, .mod_newsticker ul.ticker li h2 a { display: block; }
.mod_newsticker .controls a { cursor: pointer; }
.ticker_play, .ticker_stop { display:none; }